@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>@ViewData["Title"]</h2>
            <p>
                In line with data protection requirements and good practice, National College of Ireland (‘NCI’) wish to put in place, and be able to demonstrate, appropriate and effective management of personal data throughout the Organisation.
                <br />
                <br />
                NCI wishes to demonstrate commitment and compliance with the current Data Protection Acts and the General Data Protection Regulation (GDPR). Fundamental to the GDPR are the principles of accountability and transparency. This means that Controllers and Processors are both responsible and, accountable for the protection of personal data, and must be able to demonstrate how they maintain compliance with data protection requirements.
                <br />
                <br />
                The implementation of an approved Data Protection Policy goes towards demonstrating NCI’s commitment to the protection of personal data, and provides a basis for maintaining and improving compliance with data protection requirements and good practice.
            </p>
        </div>
    </div>
</div>
